---
import BaseLayout from "../layouts/BaseLayout.astro";
import { bioCopy } from "../content/site";

const bio = bioCopy.laia;
---
<BaseLayout title={bio.pageTitle}>
  <article class="bio-page">
    <h1>{bio.heading}</h1>
    {bio.beforeImage.map((item) => <p>{item}</p>)}
    <img src={bio.image.src} alt="Laia Espejo Dotti" />
    {bio.afterImage.map((item) => <p>{item}</p>)}
    <h2 class="display">{bio.signoff}</h2>
    <p><a href={bio.website.href}>{bio.website.label}</a></p>
  </article>
</BaseLayout>
